@font-face {
  font-family: 'Aqua';
  src: url('./assets/fonts/aqua.ttf');
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #205295;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #0a2647;
  --secondary: #144272;
  --third: #205295;
  --fourth: #2c74b3;
  --light-gray: #e2e2e2;
  --dark: #0a264744;
  --placeholder: #00000080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Aqua', sans-serif;
  background-color: var(--primary);
  color: var(--light-gray);
  font-size: 1rem;
  background-image: url('./assets/images/earth.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(0.2rem);
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header a {
  text-decoration: none;
  color: var(--light-gray);
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
  z-index: 100;
}

h1 span {
  font-size: 1rem;
  font-weight: 400;
}

.menu-items {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.menu-items:hover {
  overflow: hidden;
  transform: scale(1.1);
  box-shadow: 4px 5px 17px -4px var(--third);
}

.menu-items::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--secondary);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 0.5s;
}

.menu-items:hover::before {
  width: 250%;
}

.active {
  display: inline-block;
  color: var(--fourth);
  font-size: 0.8rem;
  font-weight: bold;
  transform: translateY(-0.5rem) translateX(-0.5rem);
}

.content-wrapper {
  height: 100%;
  overflow: auto;
  padding-bottom: 5rem;
}

#publish-comment-button {
  margin-top: 20px;
  padding: 1.3em 3em;
  width: min-content;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#publish-comment-button:hover {
  background-color: var(--fourth);
  box-shadow: 0 15px 20px var(--secondary);
  color: #fff;
  transform: translateY(-7px);
}

#publish-comment-button:active {
  transform: translateY(-1px);
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 10rem;
}

.card {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 25rem;
  overflow: hidden;
  background-color: var(--placeholder);
  backdrop-filter: blur(0.1rem);
  opacity: 0;
  animation: fade-in 0.3s linear 1 forwards;
}

.card img {
  height: 100%;
}

.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--dark);
  width: 100%;
  min-height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  cursor: default;
}

.card-description:hover {
  backdrop-filter: blur(5px);
}

.pulse {
  animation: pulse 1s alternate infinite;
}

.interactions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.card h2 {
  text-align: center;
  color: var(--light-gray);
}

.likes-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

#load-more {
  background-color: transparent;
  z-index: 10;
  font-size: 1rem;
  color: var(--light-gray);
  margin: 5rem auto;
  display: none;
}

.popup-comments-back {
  display: none;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: #3d4b5f7c;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup-comments {
  box-shadow: 4px 4px 8px black;
  background-color: var(--primary);
  color: var(--light-gray);
  display: block;
  z-index: 2;
  border-radius: 8px;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90vh;
  padding: 40px;
  overflow-y: auto;
}

.popup-comments .fa-circle-xmark {
  font-size: 2rem;
  position: fixed;
  right: 10%;
  top: 10%;
  cursor: pointer;
  color: var(--light-gray);
}

.popup-comments .fa-circle-xmark:hover {
  color: var(--fourth);
}

#image-title {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  color: var(--light-gray);
}

.popup-comments img {
  display: block;
  max-height: 400px;
  max-width: 90%;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow: 2px 2px 8px black;
}

.popup-comments p {
  color: var(--light-gray);
  line-height: 24px;
  padding-top: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.comments-title {
  color: var(--light-gray);
  margin-top: 50px;
}

.comments-wrapper {
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.comment-list {
  width: 40%;
  padding: 20px;
}

.comment-list li {
  list-style: none;
  padding: 10px;
}

#comment-content {
  margin-top: 10px;
  margin-bottom: 20px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Aqua', sans-serif;
}

form textarea {
  margin-top: 15px;
  height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Aqua', sans-serif;
}

form button {
  padding: 15px;
  width: 40%;
  margin: auto;
  margin-top: 15px;
  font-family: 'Aqua', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.input-wrapper textarea {
  background-color: #eee;
  margin-top: 28px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.input-wrapper input:focus {
  outline-color: var(--fourth);
}

.input-wrapper textarea:focus {
  outline-color: var(--fourth);
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  width: 100%;
  backdrop-filter: blur(0.3rem);
}

@keyframes pulse {
  from {
    background-color: var(--placeholder);
  }

  to {
    background-color: var(--dark);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
