@font-face {
  font-family: 'Aqua';
  src: url('./assets/fonts/aqua.ttf');
  font-weight: normal;
}

:root {
  --primary: #0a2647;
  --secondary: #144272;
  --third: #205295;
  --fourth: #2c74b3;
  --light-gray: #e2e2e2;
}

body {
  font-family: 'Aqua', sans-serif;
  background-color: var(--primary);
  color: var(--light-gray);
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/earth.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin: 40px;
}

header a {
  text-decoration: none;
  color: var(--light-gray);
  font-size: 1.2rem;
}

.content-wrapper {
  margin-top: 150px;
}

.content-wrapper h2 {
  text-align: center;
}

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.card {
  border: 1px solid red;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 200px;
}

.card h2 {
  text-align: center;
  color: var(--light-gray);
}

.likes-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.popup-comments {
  display: none;
  z-index: 1;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 5%;
  height: 80vh;
  color: black;
  padding: 40px;
  overflow-y: scroll;
}

.popup-comments .fa-circle-xmark {
  font-size: 2rem;
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}

.popup-comments .fa-circle-xmark:hover {
  color: red;
}

#image-title {
  margin-top: 20px;
  font-size: 2rem;
}

.popup-comments img {
  display: block;
  height: 300px;
}

.popup-comments p {
  padding-top: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.comments-title {
  margin-top: 50px;
}

.comments-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.comment-list {
  width: 40%;
  padding: 20px;
}

.comment-list li {
  list-style: none;
  padding: 10px;
}

#comment-content {
  margin-top: 10px;
  margin-bottom: 20px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Aqua', sans-serif;
}

form textarea {
  margin-top: 15px;
  height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Aqua', sans-serif;
}

form button {
  padding: 15px;
  width: 40%;
  margin: auto;
  margin-top: 15px;
  font-family: 'Aqua', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
