@font-face {
  font-family: 'Aqua';
  src: url('./assets/fonts/aqua.ttf');
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 100px;
}

:root {
  --primary: #0a2647;
  --secondary: #144272;
  --third: #205295;
  --fourth: #2c74b3;
  --light-gray: #e2e2e2;
}

body {
  font-family: 'Aqua', sans-serif;
  background-color: var(--primary);
  color: var(--light-gray);
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/earth.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin: 40px;
}

header a {
  text-decoration: none;
  color: var(--light-gray);
  font-size: 1.2rem;
}

.content-wrapper {
  margin-top: 150px;
}

.content-wrapper h2 {
  text-align: center;
}

#publish-comment-button {
  margin-top: 20px;
  padding: 1.3em 3em;
  width: min-content;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#publish-comment-button:hover {
  background-color: var(--fourth);
  box-shadow: 0 15px 20px var(--secondary);
  color: #fff;
  transform: translateY(-7px);
}

#publish-comment-button:active {
  transform: translateY(-1px);
}

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 200px;
}

.card h2 {
  text-align: center;
  color: var(--light-gray);
}

.likes-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.popup-comments-back {
  display: none;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: #3d4b5f7c;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup-comments {
  box-shadow: 4px 4px 8px black;
  background-color: var(--primary);
  color: var(--light-gray);
  display: block;
  z-index: 2;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 5%;
  height: 75vh;
  padding: 40px;
  overflow-y: auto;
}

.popup-comments .fa-circle-xmark {
  font-size: 2rem;
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
  color: var(--light-gray);
}

.popup-comments .fa-circle-xmark:hover {
  color: var(--fourth);
}

#image-title {
  margin-top: 20px;
  font-size: 2rem;
  color: var(--light-gray);
}

.popup-comments img {
  display: block;
  height: 300px;
}

.popup-comments p {
  color: var(--light-gray);
  padding-top: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.comments-title {
  color: var(--light-gray);
  margin-top: 50px;
}

.comments-wrapper {
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.comment-list {
  width: 40%;
  padding: 20px;
}

.comment-list li {
  list-style: none;
  padding: 10px;
}

#comment-content {
  margin-top: 10px;
  margin-bottom: 20px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Aqua', sans-serif;
}

form textarea {
  margin-top: 15px;
  height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Aqua', sans-serif;
}

form button {
  padding: 15px;
  width: 40%;
  margin: auto;
  margin-top: 15px;
  font-family: 'Aqua', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.input-wrapper textarea {
  background-color: #eee;
  margin-top: 28px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.input-wrapper input:focus {
  outline-color: var(--fourth);
}

.input-wrapper textarea:focus {
  outline-color: var(--fourth);
}
